html
    head
        title= title
    body
        block content
        block footer
            #footer
                p Express App © 2018
        block scripts
            script(src='/app.js')
